@tailwind base;
@tailwind components;
@tailwind utilities;

[data-font-size='small'] {
    font-size: 0.75rem; /* text-sm */
  }
  
  [data-font-size='medium'] {
    font-size: 0.90rem; /* text-base */
  }
  
  [data-font-size='large'] {
    font-size: 1.00rem; /* text-lg */
  }